body {
    font-family: Arial, sans-serif;
    background-color: #128bdb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 20px; /* Add margin between options */
}

.option i {
    margin-right: 10px;
}

.option button {
    background-color: #0162f3;
    color: hwb(0 100% 0%);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option button:hover {
    background-color: #0056b3;
}
.slider {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #ccc;
    transition: 0.4s;
}
