body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}
.sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
    padding: 20px;
}
.hidden {
    display: none;
}
.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.options-container .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #343a40;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.options-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.options-container button:hover {
    background-color: #0056b3;
}
.logout-button {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}
.logout-button:hover {
    background-color: #6c757d;
}
